
Standard: Cpp11

# Format Style Options
# BasedOnStyle: LLVM
AccessModifierOffset: -4
AlignAfterOpenBracket: false
AlignConsecutiveAssignments: false
AlignEscapedNewlines: false
AlignEscapedNewlines: DontAlign
AlignOperands: false
AlignTrailingComments: true
IndentWidth: 4
# ColumnLimit: 0
UseTab: Never
MaxEmptyLinesToKeep: 2

BreakBeforeBinaryOperators: true
BreakBeforeBraces: Linux
SpaceBeforeParens: ControlStatements
AlwaysBreakTemplateDeclarations: No
AlwaysBreakAfterReturnType: None

AlignEscapedNewlinesLeft: true

PointerBindsToType: true


AllowShortFunctionsOnASingleLine: All

SpacesBeforeTrailingComments: 2
CommentPragmas: '[!\*]'
